.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.server-logs/
.gradle-home/
.pub-cache/

__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
*.pyc
*.egg-info/

.env
.DS_Store
